@use '../utils/variables' as vars;


select {
    color: vars.$primary-color;
}
.form-control {
    background-color: vars.$white;
    gap: 2px;
}

label {
    color: vars.$primary-color;
    font-weight: 700;
}


.instrucciones {
        margin-bottom: 3%;
        font-family: 'Hind', sans-serif;
        color: vars.$primary-color;
        font-weight: 700;
}

#formulario-corte {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 2px;
    margin-bottom: 20px;
}

