@use '../utils/variables' as vars;


select {
    color: vars.$primary-color;
}
.form-control {
    background-color: vars.$white;
    gap: 2px;
}

label {
    color: vars.$primary-color;
    font-weight: 700;
}

button {
    background-color: vars.$white;
    color: vars.$primary-color;
}

.instrucciones {
        margin-bottom: 3%;
        font-family: 'Hind', sans-serif;
        color: vars.$primary-color;
        font-weight: 700;
}

